@media (min-width: 768px){}
/* Remove the navbar's default margin-bottom and rounded borders */ 
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  .navbar-inverse {
    background-color: #FCF4EC;
  }
  /* nav-barens bakgrund ändrad från default
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: #FCF4EC;
  } */
  /*texten på listitem ändrats till svart*/
  .navbar-inverse .navbar-nav>li>a {
    color: #000;
}
/* Ändrar förgen på texten när man hovrar över den. Den aktiva sidan visas med röd bakgrund */
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #c03c3c;
}
li form {
  padding-top: 15px;
  padding-bottom: 15px;
}
/*Sätter samma färg på bodyn bakom elementet som elementet har. Var svart innan*/
body .container-fluid {
  background-color: #FCF4EC;
}
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}
/* En rubrik för att fylla ut lite på sidan*/
#headaboutus {
  text-align: center;
  margin: 10%;
}
p {
  text-align: center;
}
/*Satte bara ett värde för att få formuläret ut från kanten*/
.form-group {
  margin: 10%;
}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}