/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  #myCarousel {
    display: none;
  }
  ul.active {
    background: #BDD4DE;
  }
  /* .carousel-caption {
    display: none; 
  } */
  
   /* .navbar-inverse .navbar-nav .active {
    color: #000;
  }

  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #000;
    background-color: #BDD4DE;
  }

  .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #3F5765;
  }

  .navbar-inverse .navbar-nav>a:hover {
    background-color: #3F5765;
  } */


}
ul.active {
  background: #BDD4DE;
}
.navbar {
  background: #BDD4DE;
  color: #000;
  margin-bottom: 0;
  border-radius: 0;
}
  /*texten på listitem ändrats till svart*/
.navbar-inverse .navbar-nav>li>a{
  color: #000;
  background: #BDD4DE;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active,
.navbar-inverse .navbar-nav>.active>a:hover {
  background-color: #BDD4DE;
  color: #fff;
}
.navbar-inverse .navbar-nav>li:hover {
  color: #000;
  background-color: #3F5765;  
}
li form {
  padding-top: 15px;
  padding-bottom: 15px;
}
/*Gör så att sökformuläret inte markeras när man hovrar över*/
#topnavsearch:hover {
  background-color: #BDD4DE;
  float: right;
}
#headerprogrampage {
  text-align: center;
}
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}
/* En rubrik för att fylla ut lite på sidan*/
#headaboutus {
  text-align: center;
  margin: 10%;
}
p {
  text-align: center;
}
/*Satte bara ett värde för att få formuläret ut från kanten*/
.form-group {
  margin: 10%;
}
